<div class="index_contener">
    <div class="marker_color">
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/green-dot.png"%><span>建物・テーマパーク</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/ltblue-dot.png"%><span>絶景</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/yellow-dot.png"%> <span>飲食</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/pink-dot.png"%><span>デートスポット</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/purple-dot.png"%><span>心霊</span></p>
    </div>
    <div id="all_map"></div>

    <div class="posts_index">
        <div class="index_post">
            <p>ランキング</p>
            <% @posts.each do |p| %>
                <div class="post_part">
                    <div class="post_user_info">
                        <div>
                            <%= image_tag p.user.image_url, class:"index_user_image" %>
                        </div>
                        <div>
                            <%= link_to p.user.username, user_path(p.user.id), class:"index_user_name" %>
                        </div>
                    </div>
                    <div class="index_post_name">
                        <%= link_to p.name, post_path(p.id),class:"index_post_name" %>
                    </div>
                    <div>
                        <%= image_tag p.image_url, class:"post_image" %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="map_block">
            <div class="chihou_map">
                <p>北海道</p>
                <div id='hokkaidou_map'></div>
            </div>
            <div class="chihou_map">
                <p>東北地方</p>
                <div id='touhoku_map'></div>
            </div>
            <div class="chihou_map">
                <p>関東地方</p>
                <div id='kanntou_map'></div>
            </div>
            <div class="chihou_map">
                <p>中部地方</p>
                <div id='chuubu_map'></div>
            </div>
            <div class="chihou_map">
                <p>関西地方</p>
                <div id='kannsai_map'></div>
            </div>
            <div class="chihou_map">
                <p>四国・中国地方</p>
                <div id='shikochuu_map'></div>
            </div>
            <div class="chihou_map">
                <p>九州地方</p>
                <div id='kyuushuu_map'></div>
            </div>
            <div class="chihou_map">
                <p>沖縄県</p>
                <div id='okinawa_map'></div>
            </div>
        </div>

    </div>
</div>
    <script>
    let map
    let map2
    let map3
    let map4
    let map5
    let map6
    let map7
    let map8


        function initMap(){
            geocoder = new google.maps.Geocoder()

            maps = new google.maps.Map(document.getElementById('all_map'), {
                center: {lat: 34.965106, lng:136.624412},
                zoom: 5,
            });
            map = new google.maps.Map(document.getElementById('hokkaidou_map'), {
                center: {lat: 43.343889, lng:142.381862},
                zoom: 6,
            });
            map2 = new google.maps.Map(document.getElementById('touhoku_map'), {
                center: {lat: 38.97997, lng:140.770376},
                zoom: 6,
            });
            map3 = new google.maps.Map(document.getElementById('kanntou_map'), {
                center: {lat: 36.032601, lng:139.807837},
                zoom: 7,
            });
            map4 = new google.maps.Map(document.getElementById('chuubu_map'), {
                center: {lat: 35.726492, lng:137.935143},
                zoom: 7,
            });
            map5 = new google.maps.Map(document.getElementById('kannsai_map'), {
                center: {lat: 34.661161, lng:135.512821},
                zoom: 7,
            });
            map6 = new google.maps.Map(document.getElementById('shikochuu_map'), {
                center: {lat: 34.237661, lng:133.051004},
                zoom: 7,
            });
            map7 = new google.maps.Map(document.getElementById('kyuushuu_map'), {
                center: {lat: 32.680622, lng:130.708082},
                zoom: 7,
            });
            map8 = new google.maps.Map(document.getElementById('okinawa_map'), {
                center: {lat: 26.092134, lng:127.662957},
                zoom: 6,
            });

            <% @posts.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: maps,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(maps, marker);
                    });

                })();
            <% end %>
            <% @hokkaidou.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map, marker);
                    });

                })();
            <% end %>
            <% @touhoku.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map2,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map2, marker);
                    });

                })();
            <% end %>
            <% @kanntou.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map3,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map3, marker);
                    });

                })();
            <% end %>
            <% @chuubu.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map4,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map4, marker);
                    });

                })();
            <% end %>
            <% @kannsai.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map5,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map5, marker);
                    });

                })();
            <% end %>
            <% @shikochuu.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map6,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map6, marker);
                    });

                })();
            <% end %>
            <% @kyuushuu.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map7,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map7, marker);
                    });

                })();
            <% end %>
            <% @okinawa.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: map8,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(map8, marker);
                    });

                })();
            <% end %>

        
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY'] %>&callback=initMap" async defer></script>