<div class="index_contener">
    <div class="marker_color">
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/green-dot.png"%><span>建物・テーマパーク</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/ltblue-dot.png"%><span>絶景</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/yellow-dot.png"%> <span>飲食</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/pink-dot.png"%><span>デートスポット</span></p>
        <p><%= image_tag "https://maps.google.com/mapfiles/ms/micons/purple-dot.png"%><span>心霊</span></p>
    </div>
    <div id="all_map"></div>

    <div class="posts_index">
            <p>ランキング</p>
            <% @posts.each.with_index(1) do |p,i| %>
                <div class="post_part">
                    <%= link_to "",post_path(p.id), class:"post_link"%>
                    <div class="index_lank">第<%= i %>位</div>
                    <div class="post_user_info">
                        <div>
                            <%= image_tag p.user.image_url, class:"index_user_image" %>
                        </div>
                        <div>
                            <%= link_to p.user.username, user_path(p.user.id), class:"index_user_name" %>
                        </div>
                    </div>
                    <div class="index_post_name">
                        <%= link_to p.name, post_path(p.id),class:"index_post_name" %>
                    </div>
                    <div>
                        <%= image_tag p.image_url, class:"post_image" %>
                    </div>
                </div>
            <% end %>
    </div>
        <%= link_to "北海道へ",posts_hokkaidou_path %>
        <%= link_to "東北地方へ",posts_touhoku_path %>
        <%= link_to "関東地方へ",posts_kanntou_path %>
        <%= link_to "中部地方へ",posts_chuubu_path %>
        <%= link_to "関西地方へ",posts_kannsai_path %>
        <%= link_to "四国・中国地方へ",posts_shikochuu_path %>
        <%= link_to "九州地方へ",posts_kyuushuu_path %>
        <%= link_to "沖縄へ",posts_okinawa_path %>
</div>
    <script>
    let maps


        function initMap(){
            geocoder = new google.maps.Geocoder()

            maps = new google.maps.Map(document.getElementById('all_map'), {
                center: {lat: 34.965106, lng:136.624412},
                zoom: 5,
            });

            <% @posts.each do |p| %>
                (function(){
                    var contentName = "<%= p.name %></br>";
                    var contentUser = "投稿者：<%= p.user.username %></br>";
                    var infowindow = new google.maps.InfoWindow({
                        content: 
                            "<div id='infowindowclass'>" +
                                contentName +
                                contentUser +
                                "お気に入り数：<%= p.likes.count %></br>" +
                                "<a href='/posts/<%= p.id %>'>詳細へ</a>" +
                            "</div>"
                    });

                    var marker = new google.maps.Marker({
                        position: {lat: <%= p.latitude %>, lng: <%= p.longitude %>},
                        map: maps,
                        animation: google.maps.Animation.DROP,
                        icon:  "<%= p.color %>",
                    });

                    marker.addListener('click', function() {
                        infowindow.open(maps, marker);
                    });

                })();
            <% end %>

        
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLEMAPS_API_KEY'] %>&callback=initMap" async defer></script>