<!DOCTYPE html>
<html>
  <head>
    <title>MapApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "MAP APP", posts_path, class:"header_title" %>
      <div class="header_list">
        <%= link_to "HOME", posts_path, class:"header_link" %>
        <%= link_to "NEW", new_post_path, class:"header_link" %>
        <%= link_to "LOG IN", posts_path, class:"header_link" %>
        <%= link_to "SIGN UP", users_current_path, class:"header_link" %>
        <%= link_to 'LOG OUT', destroy_user_session_path, {method: :delete, class:"header_link"} %>
        <%= link_to 'USER', users_path, class:"header_link" %>
        <%= link_to 'MYPAGE', users_current_path, class:"header_link" %>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
